@font-face {
    font-family: 'droid_sansregular';
    src: url('../resources/fonts/DroidSans-webfont.woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: stretch;
    font-family: droid_sansregular;
}

.top {
    text-align: center;
}

.main {

}

#tableHolder {

}

.tableDiv {
    display: table;
}
.tableCaption {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}
.tableHeading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}
.tableRow {
    display: table-row;
}

.tableCell {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.bottom {

}


/*
form stuff
 */
.formContainer {
    max-height:100%;
    margin:0 auto;
    width:80vw
}

.formRowContainer {
    max-height: 14%;
    margin-top:1%;
}

.funnyshit {
    display:flex;
    flex-direction: column;
}
.formRowHalf {
    display:flex;
    flex-direction: column;
}

@media screen and (min-width: 800px) {

    .funnyshit {
        display:flex;
        flex-direction: row;
    }

    .formRowHalf {
        display:flex;
        width:50%;
    }
}

#bottomRowContainer {
    margin-top:5%;
}


.messageContainer {
    max-height: 14%;
    text-align:center;
    font-size:3vh;
    border:1px solid darkgrey;
    background-color:lightgrey;
    color:darkgrey;
}

#messageError {
    border:1px solid red;
    background-color:#DB5650;
    color:darkred;
}

#messageSucceed {
    border:1px solid darkgreen;
    background-color:lightgreen;
    color:darkgreen;
}

.formLabel {
    font-size: 3.0vh;
    text-align:center;
}

.male {
    display: inline-block;
    width:20px;
}

.formInput {
    text-align: center;
}
.formInput input, .formInput select {
    height:6vh;
    width:100%;
    font-size:4vh;
    text-align-last:center;
}
.formSubmit {
    text-align:center;
    height:5vw;
    min-height:25px;
}
.formSubmit button {
    height:100%;
    width:100%;
    font-size:100%;
}
